@tailwind base;
@tailwind components;
@tailwind utilities;


[data-corvu-drawer-overlay][data-transitioning] {
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 500ms;
}

[data-corvu-drawer-content][data-transitioning] {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 700ms;
}